<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>i just love you</title>
        <link rel="shortcut icon" type="image" href="/our memories/images/IMG_9126.JPG">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="../styles/index.css">
    </head>
    <body>
        <video id="background-video" autoplay loop muted>
            <source src="../dev/vids/clouds.mp4" type="video/mp4">
        </video>
        <div class="wrapped-body">
            <nav>
                <div>
                    <p><span class="logo">우리에게만</span></p>
                </div>
                <div>
                    <a href="telegram.html" target="_blank"><p class="us">Us in Telegram. <span class="click-here">click here</span></p></a>
                </div>
            </nav>

            <section id="container-1">
                <div class="sections">
                    <div>
                        <a href="#container-3">Quotes</a>
                    </div>
                    <div>
                        <a href="#container-6">Memories</a>
                    </div>
                    <div>
                        <a href="/Spider-Man-master/index.html">Spidy</a>
                    </div>
                </div>
                <div class="quote-1">
                    <p>그것은 좋은 것입니다</p>
                    <p>당신과 모든 시간을 보내기 위해</p>
                </div>
            </section>

            <section id="container-2">
                <div class="video-main">
                    <video id="video-main" autoplay loop muted>
                        <source src="../dev/vids/videomain.mp4" type="video/mp4">
                      </video>
                </div>
            </section>

            <section id="container-3">
                <div class="quote-2">
                    <p class="l-q">TOGETHER TOWARDS</p>
                    <p class="r-q">A FUTURE WE PROMISED</p>
                </div>
            </section>

            <section id="container-4">
                <div class="l-s">
                    <img src="../dev/img/2023-07-02 04.18.17.jpg" alt="" class="nightfury-1">
                </div>
                <div class="r-s">
                    <img src="../dev/img/beautifulpicsous.JPG" alt="" id="picofus"> <br><br>
                    <p class="quote-meru-1">
                        - помнишь я говорила что для меня смысл жизни состоит в том чтобы быть счастливой и просто заниматься тем что люблю и быть в окружении близких людей? <br>

                        - так вот, хочу провести все счастливые моменты с тобой <br>

                        - as long as i can <br>

                        - and always wanna wear smile that u constantly give me every day
                    </p>
                </div>
            </section>

            <section id="container-5">
                <div class="l-s-2">
                    <img src="../dev/img/cute.JPG" alt="" id="cute"> <br><br>
                    <p class="quote-meru-2">
                        ANOTHER BLESSING DAY I GET TO TALK TO YOU <br>
                        I LOVE U SO MUCH BABE
                    </p>
                </div>
                <div class="r-s-2">
                    <img src="../dev/img/2023-07-02 04.18.13.jpg" alt="" class="nightfury-2">
                </div>
            </section>

            <section id="container-6">
                <div class="l-3">
                    <p>
                        사 <br>
                        랑 <br>
                        해 <br>
                        미 <br>
                        안 <br>
                        해
                    </p>
                </div>
                <div class="c-3">
                    <div id="slider">
                        <figure>
                        <img src="../dev/img/Photo on 09.12.2022 at 19.26.JPG" alt>
                        <img src="../dev/img/Photo on 09.12.2022 at 19.27.JPG" alt>
                        <img src="../dev/img/Photo on 09.12.2022 at 19.28.JPG" alt>
                        <img src="../dev/img/dfuns 2023-02-09 065228.792.JPG" alt>
                        <img src="../dev/img/IMG_3104.JPG" alt>
                        </figure>
                    </div>
                </div>
                <div class="r-3">
                    <a href="https://open.spotify.com/playlist/0FienZTO3CdzwJcLCznzWm?si=a226697f46e247a6" target="_blank">
                        <p>
                            SPOTIFY
                        </p>
                        <p class="spotify-under">
                            Please, Keep It
                        </p>
                    </a>
                </div>
            </section>

            <section id="container-7">

                <div class="">
                    <div class="quote-3">
                        <p class="l-q-2">THERE IS A LOT OF PLACES</p>
                        <p class="r-q-2">I WANTED TO EXPLORE WITH YOU</p>
                    </div>
                </div>

                <div class="photo-gallery">
                    <img src="../dev/img/place1.jpg" alt="">
                    <img src="../dev/img/place2.jpg" alt="">
                    <img src="../dev/img/place3.jpg" alt="">
                </div>

            </section>

            <section id="container-8">
                <div class="story">
                    <p>STORY</p>
                </div>
                <div class="message">
                    <p>Apparently I will not have time to finish what I started <br>
                       Most likely I will say everything I want to say before you see this site, <br>
                       I just want to say that I love you, I still can't believe that everything can end like this, <br>
                       It's more offensive because you simply don't believe me, you lost faith in me and I don't know how to get it back. <br>
                       Because you have become a part of me, you, it is you <br>
                       You leaving me, I don't know what to do next without you <br>
                       나는 작별 인사를 원하지 않고하지 않을 것입니다 <br>
                       당신의 귀환은 저를 두 번째로 가장 행복한 사람으로 만들 것입니다.  <br>
                       이 사이트를 유지해주세요, Meru
                    </p>
                </div>
            </section>

        </div>
    </body>
</html>